<h4><%= article.title %></h4>
<p>
  <%= truncate(article.description, length: 20) %>
</p>
<div>
  <%= link_to 'More', article_path(article) %>
</div>
<div>
  Created <%= time_ago_in_words(article.created_at) %>
</div>
